.list{
  width: 100%;
  list-style: none;
  display: inline;
}

.list-item{
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  background-color: #2F3645;
  border-radius: 10px;
  text-align: center;
}

.list-item:active, .list-item:hover{
  background-color: #5c5470;
}
