<h2>Graphs</h2>
<hr>

<ul class="list-group">
  <li
    routerLink="bar"
    routerLinkActive="active"
    class="list-group-item">
    Bar
  </li>
  <li
    routerLink="doughnut"
    routerLinkActive="active"
    class="list-group-item">
    Doughnut
  </li>
  <li
    routerLink="line"
    routerLinkActive="active"
    class="list-group-item">
    Line
  </li>
  <li
    routerLink="pie"
    routerLinkActive="active"
    class="list-group-item">
    Pie
  </li>
  <li
    routerLink="radar"
    routerLinkActive="active"
    class="list-group-item">
    Radar
  </li>
  <li
    routerLink="scatter"
    routerLinkActive="active"
    class="list-group-item">
    Scatter
  </li>
</ul>
