<h2>Graphs</h2>
<hr>

<ul class="list-group">
  <li
    routerLink="graphics/bar"
    routerLinkActive="active"
    class="list-group-item">
    Bar
  </li>
  <li
    routerLink="graphics/doughnut"
    routerLinkActive="active"
    class="list-group-item">
    Doughnut
  </li>
  <li
    routerLink="graphics/line"
    routerLinkActive="active"
    class="list-group-item">
    Line
  </li>
  <li
    routerLink="graphics/pie"
    routerLinkActive="active"
    class="list-group-item">
    Pie
  </li>
  <li
    routerLink="graphics/radar"
    routerLinkActive="active"
    class="list-group-item">
    Radar
  </li>
  <li
    routerLink="graphics/scatter"
    routerLinkActive="active"
    class="list-group-item">
    Scatter
  </li>
</ul>
