<link rel="stylesheet" href="sidebar.component.css">

<h2>Graphs App</h2>

<ul class="list">
  <li
    routerLink="graphics/bar"
    routerLinkActive="active"
    class="list-item">
    Bar
  </li>
  <li
    routerLink="graphics/doughnut"
    routerLinkActive="active"
    class="list-item">
    Doughnut
  </li>
  <li
    routerLink="graphics/line"
    routerLinkActive="active"
    class="list-item">
    Line
  </li>
  <li
    routerLink="graphics/pie"
    routerLinkActive="active"
    class="list-item">
    Pie
  </li>
  <li
    routerLink="graphics/radar"
    routerLinkActive="active"
    class="list-item">
    Radar
  </li>
  <li
    routerLink="graphics/scatter"
    routerLinkActive="active"
    class="list-item">
    Scatter
  </li>
</ul>
