
<div class="container-fluid">
  <div class="row">
    <div class="form-label col-2">
      <h2>Radar Chart</h2>
      <input
        [(ngModel)]="newLabel"
        placeholder="Enter label"
        class="form-control"
      />
      <input
        [(ngModel)]="newData1"
        placeholder="Enter data 1"
        type="number"
        class="form-control mt-2"
      />
      <input
        [(ngModel)]="newData2"
        placeholder="Enter data 2"
        type="number"
        class="form-control mt-2"
      />
      <button (click)="addData()" class="btn btn-primary mt-2">Add Data</button>
    </div>
    <div class="col-10">
      <canvas id="radarChart"></canvas>
    </div>
  </div>
</div>
