.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
}

.screen {
  position: relative;
  width: 100%;
  max-width: 360px;
  padding: 20px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  border-radius: 10px;
  background-color: white;
}

.screen__content {
  z-index: 1;
  position: relative;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__field {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #7875b5;
}

.login__input {
  width: 100%;
  padding: 10px 10px 10px 34px;
  border: 1px solid #d1d1d4;
  border-radius: 4px;
  font-weight: 700;
  transition: border-color 0.2s;
}

.login__input:focus {
  outline: none;
  border-color: #6a679e;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 26px;
  background-color: #4c489d;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #6a679e;
}

.button__icon {
  font-size: 18px;
  margin-left: 10px;
}

.login__forgot, .count {
  text-align: center;
  margin-top: 20px;
  color: #4c489d;
  cursor: pointer;
}

.login__forgot:hover, .count:hover {
  color: #6a679e;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
