<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h2 class="navbar-brand">Linktech Graphs App</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLink="graphics/bar"
            routerLinkActive="active"
            class="nav-link"
            >Bar</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="graphics/doughnut"
            routerLinkActive="active"
            class="nav-link"
            >Doughnut</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="graphics/line"
            routerLinkActive="active"
            class="nav-link"
          >
            Line</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="graphics/pie"
            routerLinkActive="active"
            class="nav-link"
          >
          Pie</a>
        </li>
        <li class="nav-item">
          <a
            routerLink="graphics/radar"
            routerLinkActive="active"
            class="nav-link"
          >
          Radar</a>
        </li>
        <li class="nav-item">
          <a
            routerLink="graphics/scatter"
            routerLinkActive="active"
            class="nav-link"
          >
          Scatter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
