.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.row{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
}

.sidebar-div{
  width: 20%;
  padding: 1rem;
  background-color: #5c5470;
  border-radius: 20px;
}

.app-div{
  width: 80%;
  padding: 1rem;
}
