<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="labels">Etiquetas (separadas por comas):</label>
      <input type="text" id="labels" [(ngModel)]="labels" name="labels" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="data">Datos (separados por comas):</label>
      <input type="text" id="data" [(ngModel)]="data" name="data" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Actualizar Grafica</button>
  </form>
  