html{
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

.body-container{
  background-color: #EEEDEB;
}

h2{
  color: #2F3645;
}
