<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Register</h2>
      <form (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary mt-3">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
